/*
    CSS common to all pages
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Merienda:wght@600&display=swap');

body {
  background-image: url(../images/background.jpg);
  background-size: contain;
  font-family: 'Merienda', cursive;
  font-size: 50px;
}

.game-screen {
  display: flex;
  flex-direction: column;
  background-color: #f7bd67;
  margin: 5% auto;
  height: 80vh;
  width: 70vw;
  border-radius: 50px;
}

/* 
    CSS for index.html 
*/

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

#title > h1 {
  font-size: 80px;
  color: 	#b61500;
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  margin: 0 auto;
}

.main-text > p {
  line-height: 60px;
  text-align: center;
  font-size: 45px;
  color: 	#b61500;
}

#instructions {
  line-height: 40px;
  list-style: '- ';
  font-size: 20px;
  color: 	#b61500;
}

#play-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  margin-top: 0 auto;
}

#play-button {
  width: 150px;
  height: 60px;
}

/* 
    CSS for game.html 
*/

#game-area {
  display: flex;
  flex-direction: column; 
}

#ui-elements {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  color: #b61500;
}

#ingredients-area {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 20%;
}

.available-ingredients {
  width: 120px;
  height: 120px;
  border: 5px solid #dc6b29;
  border-radius: 10px;
  margin: 2px;
  transition: 0.2s;
}

.available-ingredients:hover, .avblImage:hover {
  width: 130px;
  height: 130px;
  cursor: pointer;
  transition: 0.2s;
}

.avblImage {
  width: 120px;
  height: 120px;
}

#gameplay-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 65%;
}

#ingredient-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url('../images/board.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
}

.selected-ingredients {
  width: 120px;
  height: 120px;
}

#pizza-area {
  display: flex;
  width: 40%;
  background-image: url('../images/countertop.png');
  background-repeat: no-repeat;
  background-position: center;
}

#pizza-grid {
  display: flex;
  background-image: url(../images/pizza_blank.png);
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 500px;
  height: 500px;
}

.row {
  display: flex;
  height: 120px;
}

.column {
    width: 120px;
}

#cook-button-area {
  display: flex;
  width: 30%;
  background-image: url('../images/oven.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

#cook-button, #play-button {
  background-color: #ffac0e;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.2s;
}

#cook-button:hover, #play-button:hover {
  background-color: #ffb52c;
  width: 160px;
  height: 65px;
  font-size: 26px;
  cursor: pointer;
  transition: 0.2s;
}

#cook-button:active, #play-button:active {
  background-color: #f4a107;
  width: 145px;
  height: 55px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;

}