/*
    CSS common to all pages
*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

body {
  background-color: #dc6b29;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}

.game-screen {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  /* border: 5px solid #b61500; */ /*TEMPORARY JUST TO SEE SIZES AND FITTINGS*/
  border-radius: 5px;
  height: 80vh;
  width: 70vw;
}

/* 
    CSS for index.html 
*/

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

#title > h1 {
  font-size: 100px;
}

#instructions-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  margin: 0 auto;
}

#instructions-div > p {
  font-size: 60px;
}

#play-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  margin-top: 0 auto;
}

#play-button {
  width: 150px;
  height: 60px;
}

/* 
    CSS for game.html 
*/

/* #banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: #ffac0e;
} */

#game-area {
  display: flex;
  flex-direction: column;
}

#ui-elements {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  background-color: #ffac0e;
  /* border: 2px solid yellow; */
}

#banner:first-child {
  font-size: 70px;
  width: 100%;
  text-align: center;
}

#ingredients-area {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 20%;
  background-color: #ffac0e;
  /* border: 2px solid yellow; */
}

.available-ingredients {
  width: 120px;
  height: 120px;
  border: 5px solid #dc6b29;
  border-radius: 10px;
  margin: 2px;
}

.avblImage {
  width: 120px;
  height: 120px;
}

#gameplay-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100%; */
  height: 65%;
  background-color: 	#ffac0e;
  /* border: 2px solid blue; */
  /* background-image: url('../images/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}

#ingredient-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url('../images/board.png');
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  /* height: auto; */
  /* border: 2px solid red; */
}

.selected-ingredients {
  width: 120px;
  height: 120px;
  /* border: 4px solid #f3c681;
  border-radius: 10px;
  margin: 2px; */
}

#pizza-area {
  display: flex;
  width: 40%;
  background-image: url('../images/countertop.png');
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  /* height: auto; */
  /* border: 2px solid black; */
}

#pizza-grid {
  display: flex;
  background-image: url(../images/pizza_blank.png);
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 500px;
  height: 500px;
  /* border: 2px solid white; */
}

.row {
  display: flex;
  height: 120px;
}

.column {
    width: 120px;
}

#cook-button-area {
  display: flex;
  width: 30%;
  background-image: url('../images/oven.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* height: auto; */
  justify-content: center;
  align-items: center;
  /* border: 2px solid brown; */
}

#cook-button {
  background-color: #ffac0e;
  width: 150px;
  height: 60px;
  font-family: "Dancing Spirit", cursive;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}
